
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Profile Details</title>
    <meta name="_token" content="0QLLWGDpQKt4igjK6vIXRqmvOh5OYcIOZQnIxQbT">

    <!-- Favicons -->
    <link href="http://localhost/sisterlab/public/assets/logos/favicon_grantize.png" rel="icon">
    <link href="http://localhost/sisterlab/public/assets/logos/apple-touch-icon_grantize.png" rel="apple-touch-icon">
    <!-- Google Fonts -->
    <!-- <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet"> -->
    <!-- Bootstrap CSS -->
    <link href="http://localhost/grantize/public/assets/thirdparty/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="http://localhost/grantize/public/assets/thirdparty/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <!-- Bootstrap datepicker -->
    <link href="http://localhost/grantize/public/assets/thirdparty/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet">
    <!-- Bootstrap dataTables -->
    <link href="http://localhost/grantize/public/assets/thirdparty/jquery-dataTables/dataTables.bootstrap5.min.css" rel="stylesheet">
    <!-- Select2 -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css" rel="stylesheet" />
    <!-- Slick slider -->
    <link href="http://localhost/grantize/public/assets/thirdparty/slick/slick.css" rel="stylesheet" type="text/css" >
    <link href="http://localhost/grantize/public/assets/thirdparty/slick/slick-theme.css" rel="stylesheet" type="text/css" >
    <!-- Template Main CSS File -->
    <link href="http://localhost/grantize/public/assets/css/main.css" rel="stylesheet">
    <link href="http://localhost/grantize/public/assets/css/style.css" rel="stylesheet">
    <link href="http://localhost/grantize/public/assets/css/style_responsive.css" rel="stylesheet">
    <!--<link href="assets/css/pages_backend.css" rel="stylesheet"> -->


<!-- Jquery ( Production ) -->
<!--<script src="/assets/thirdparty/jquery/production-jquery-3.7.1.min.js"></script> -->
<!-- Jquery ( Development ) -->
<script src="http://localhost/grantize/public/assets/thirdparty/jquery/development-jquery-3.7.1.min.js"></script> 
<link href="http://localhost/grantize/public/assets/css/main_backend_olny.css" rel="stylesheet">

</head>
<body>
<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">
  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
  
    <div class="d-flex align-items-center justify-content-between">
        <a href="http://localhost/grantize/public" class="logo d-flex align-items-center">
        <!-- <img class="mobile" src="assets/images/logo.png" alt=""> -->
        <span class="d-none d-lg-block">Grantize</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn mobile"></i>
    </div>
    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">

        <li><a href="http://localhost/grantize/public/whyus" class="nav-item desktop me-3 ">Why Grantize</a></li>
        <li><a href="http://localhost/grantize/public/plans" class="nav-item desktop me-3 ">Plans</a></li>
        <li>
          <a href="http://localhost/grantize/public/sponsor/grants" class="nav-item desktop me-3 ">Grants List</a>
        </li>
        <li class="nav-item dropdown2 desktop me-3">
            <a href="#"><span>Grants</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><button type="button" data-value="all" 			class="grants_status_login btn btn-sm">All</button></li>
              <li><button type="button" data-value="open" 		class="grants_status_login btn btn-sm">Open</button></li>
              <li><button type="button" data-value="continuous"  	class="grants_status_login btn btn-sm">Continuous</button></li>
              <li><button type="button" data-value="commingsoon"  class="grants_status_login btn btn-sm">Comming Soon</button></li>
              <li><button type="button" data-value="recentlyclosed" class="grants_status_login btn btn-sm">Recently Closed</button></li>
              <li><button type="button" data-value="archived" 	class="grants_status_login btn btn-sm">Archived</button></li>
          </ul>
        </li>
        <li><a href="http://localhost/grantize/public/sponsors" class="nav-item desktop me-3 ">Sponsors</a></li>
        <li><a href="http://localhost/grantize/public/blogs" class="nav-item desktop me-3 ">Blog</a></li>
        <li><a href="http://localhost/grantize/public/faqs" class="nav-item desktop me-3 ">Help</a></li>
    
                                
            <li class="nav-item dropdown">
            <a href="#" class="nav-link nav-icon" data-bs-toggle="dropdown">
                <i class="bi bi-bell"></i>
                            </a>
                        </li>
            <!-- End Notification Nav -->
            <li class="nav-item dropdown">
            <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                <i class="bi bi-chat-left-text"></i>
                            </a>
                        </li>
            <!-- End Messages Nav -->

            <li class="nav-item dropdown pe-3">
            <a href="#" class="nav-link nav-profile d-flex align-items-center pe-0" data-bs-toggle="dropdown">
                                <img src="http://localhost/sisterlab/public/assets/users/dp/1710848217.png" alt="Profile" class="rounded-circle">
                
                <span class="d-none d-md-block dropdown-toggle ps-2">Pankaj</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                <li class="dropdown-header">
                <h6>Pankaj</h6>
                </li>
                <li>
                <hr class="dropdown-divider">
                </li>
                <li>
                <a href="http://localhost/grantize/public/researcher/dashboard" class="dropdown-item d-flex align-items-center">
                    <i class="bi bi-person"></i>
                    <span>My Dashboard</span>
                </a>
                </li>
                <li>
                <hr class="dropdown-divider">
                </li>
                <li>
                <a href="http://localhost/grantize/public/researcher/profile" class="dropdown-item d-flex align-items-center">
                    <i class="bi bi-person"></i>
                    <span>My Profile</span>
                </a>
                </li>
                <li>
                <hr class="dropdown-divider">
                </li>
                <li>
                <a href="#" class="dropdown-item d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#qualificationModal">
                    <i class="bi bi-gear"></i>
                    <span>Highest Qualification</span>
                </a>
                </li>
                <li>
                <hr class="dropdown-divider">
                </li>
                <li>
                <a href="#" class="dropdown-item d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#preferenceModal">
                    <i class="bi bi-gear"></i>
                    <span>Preference</span>
                </a>
                </li>
                <li>
                <hr class="dropdown-divider">
                </li>
                <li>
                <a href="http://localhost/grantize/public/researcher/logout" class="dropdown-item d-flex align-items-center">
                    <i class="bi bi-box-arrow-right"></i>
                    <span>Sign Out</span>
                </a>
                </li>
    
            </ul>
            </li>
            <!-- End Profile Nav -->
        
        </ul>
    </nav>

    
  </div>
</header>
<!-- End Header -->
<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-item mobile">
      <a href="http://localhost/grantize/public" class="nav-link collapsed">
        <i class="bi bi-grid"></i>
        <span>Home</span>
      </a>
    </li>
    <li class="nav-item mobile">
      <a href="http://localhost/grantize/public/whyus" class="nav-link collapsed">
        <i class="bi bi-grid"></i>
        <span>Why Grantize</span>
      </a>
    </li>
    <li class="nav-item mobile">
      <a href="http://localhost/grantize/public/plans" class="nav-link collapsed">
        <i class="bi bi-grid"></i>
        <span>Plans</span>
      </a>
    </li>



    <li class="nav-heading">My Account</li>
    <li class="nav-item">
      <a  href="http://localhost/grantize/public/researcher/profile" class="nav-link ">
        <i class="bi bi-grid"></i>
        <span>Profile</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="http://localhost/grantize/public/researcher/profile/references_request" class="nav-link collapsed">
        <i class="bi bi-grid"></i>
        <span>Reference Request</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="http://localhost/grantize/public/researcher/dashboard" class="nav-link collapsed">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li>

        

    <li class="nav-item">
      <a  href="http://localhost/grantize/public/researcher/grants" class="nav-link collapsed">
        <i class="bi bi-grid"></i>
        <span>Browse Grants</span>
      </a>
    </li>
    <li class="nav-item">
      <a  href="http://localhost/grantize/public/researcher/grants/searchquery" class="nav-link collapsed">
        <i class="bi bi-grid"></i>
        <span>Search Query</span>
      </a>
    </li>
    <li class="nav-item">
      <a  href="http://localhost/grantize/public/researcher/grants/favorite" class="nav-link collapsed">
        <i class="bi bi-grid"></i>
        <span>Favorite Grants</span>
      </a>
    </li>
    <li class="nav-item">
      <a  href="http://localhost/grantize/public/researcher/grants/saved" class="nav-link collapsed">
        <i class="bi bi-grid"></i>
        <span>Saved Grants</span>
      </a>
    </li>
    <li class="nav-item">
      <a  href="http://localhost/grantize/public/researcher/grants/sharedbyme" class="nav-link collapsed">
        <i class="bi bi-grid"></i>
        <span>Shared by Me</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="http://localhost/grantize/public/researcher/grants/sharedwithme" class="nav-link collapsed">
        <i class="bi bi-grid"></i>
        <span>Shared with Me</span>
      </a>
    </li>

  </ul>
</aside>
<!-- End Sidebar-->
<main id="main" class="main">

    

	<div class="pagetitle">
	<div class="row">
		<div class="col-12 col-lg-12">
					</div>

		<div class="col-12 col-sm-4 col-md-3 order-lg-2 ps-0 pe-0">
												<button type="button" id="page-section-reorder" class="btn btn-lg btn-tool float-end" title="Reorder"><i class="bi bi-filter-right"></i></button>
					<button type="button" class="btn btn-lg float-end" data-bs-toggle="modal" data-bs-target="#addModal" title="Add"><i class="bi bi-plus-lg"></i></button>
					<a href="http://localhost/grantize/public/researcher/profile" class="btn btn-lg float-start float-sm-end" title="Back"><i class="bi bi-arrow-left"></i></a>
									</div>
		<div class="col-12 col-sm-8 col-md-9 order-lg-1">
			<h1>Teaching Philosophy</h1>
		</div>
	</div>
</div> 

<section class="section profile">
	<div class="row">
	<div class="col-12 page-section-outer">

				<div class="card mb-1 page-section-inner" id="7">
		<div class="card-body profile-organization-outer">
			<div class="row profile-section-info-limited profile-section-info-limited-0">
				<div class="col-12 col-lg-12">
	<div class="btn-group-vertical btn-group-sm float-end" role="group" aria-label="">
		<button type="button" class="btn btn-outline-dark float-end info-full" data-key="0" title="Expand"><i class="bi bi-fullscreen"></i></button>	
				<a href="javascript:permissionModal(7,'This Entry')" class="btn btn-outline-dark float-end" title="Permission"><i class="bi bi-unlock-fill"></i></a>
		<button type="button" class="btn btn-outline-dark float-end" data-bs-toggle="modal" data-bs-target="#editModal7" title="Edit"><i class="bi bi-pencil-square"></i></button>
		<a class="btn btn-outline-dark float-end" href="javascript:deleteModal(7)" title="Delete"><i class="bi bi-trash"></i></a>
			</div>
</div>
				<div class="col-12 col-lg-12">
					<div class="intro-description">
						<p>
							<h1>Teaching Philosophy crop</h1>							<?//= substr(strip_tags($value['description']), 0,360).'... ';?>
						</p>
					</div>
				</div>
			</div>

			<div class="row profile-section-info-full profile-section-info-full-0">
				<div class="col-12 col-lg-12">
	<div class="btn-group-vertical btn-group-sm float-end" role="group" aria-label="">
		<button type="button" class="btn btn-outline-dark float-end info-limited" data-key="0" title="Shrink"><i class="bi bi-fullscreen-exit"></i></button>	
				<a href="javascript:permissionModal(7,'This Entry')" class="btn btn-outline-dark float-end" title="Permission"><i class="bi bi-unlock-fill"></i></a>
		<button type="button" class="btn btn-outline-dark float-end" data-bs-toggle="modal" data-bs-target="#editModal7" title="Edit"><i class="bi bi-pencil-square"></i></button>
		<a class="btn btn-outline-dark float-end" href="javascript:deleteModal(7)" title="Delete"><i class="bi bi-trash"></i></a>
			</div>
</div>
				<div class="col-lg-12">
					<div class="intro-description">
						<p><h1>Teaching Philosophy crop</h1></p>
					</div>
				</div>
			</div>
		</div>
		</div>
		
	</div>
	</div>
</section>
 

</main>
<!-- End #main -->
<!-- ======= Start Footer ======= -->
<footer id="footer_sidebar" class="footer_sidebar">
    <div class="copyright">
      &copy; Copyright <strong><span>Grantize</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
    </div>
</footer>
<!-- End Footer -->
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<div class="modal fade" id="loginModal">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Switch Account</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          
        <div class="row">
          <div class="col-12">
            <div class="mb-3 text-center">
                <label for="" class="form-label">

                                      <h4>You are login with Sponsor account .</h4> 
                    if you want to login with Applicant account click this
                    <br><br>
                    <a href="<?//= base_url().'relogin';?>" class="btn btn-outline-primary">Login with Applicant account</a>
                                      <h4>You are login with Applicant account . </h4>
                    if you want to login with Sponsor account click this
                    <br><br>
                    <a href="<?//= base_url().'relogin';?>" class="btn btn-outline-primary">Login with Sponsor account</a>
                  
                </label>
            </div>
          </div> 
        </div>
      </div>
		</div>
	</div>
</div>

<div class="modal fade bs-modal-sm" id="exceedLimitModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-sm" style="margin:200px auto;">
	<div class="modal-content" >
		<div class="modal-header" style="border:none;">         
		</div>
		<div class="modal-body text-center">
			<h3 class="modal-title">
				<strong id="exceedLimit">You are Exceed limit</strong>
			</h3>
			<br>
		</div>
		<div class="modal-footer" style="border:none;">              
			<div class="col-12">
				<button type="button" class="btn btn-success float-end" data-bs-dismiss="modal"> Ok </button>
			</div>
		</div>
	</div>        
	</div>      
</div>
 

	<!-- Add Modal -->
	<div class="modal fade" id="addModal">
		<div class="modal-dialog modal-xl modal-dialog-scrollable">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Add Teaching Philosophy <strong class="exceedLimit"></strong></h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form action="http://localhost/grantize/public/researcher/profile/store_profile_info" method="post" enctype="multipart/form-data" id="addForm">
						<input type="hidden" name="_token" value="0QLLWGDpQKt4igjK6vIXRqmvOh5OYcIOZQnIxQbT" autocomplete="off">						<div class="row">								
							<div class="col-12">
								<div class="mb-3">
									<label for="description" class="form-label">Content</label>
									<textarea name="description" id="description_ck" rows="3" cols="100" class="form-control"></textarea>
								
									<div class="input-group input-group-sm">
	<span class="input-group-text">Keywords</span>
    	<select name="keyword_description[]" id="keyword_description_ck" class="form-select" multiple="multiple">
	</select>	
	</div> 






								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					<input type="hidden" name="table_name" value="user_teaching_philosophy" form="addForm" >
					<input type="hidden" name="redirect" value="my_teaching_philosophy" form="addForm" >
					<input type="submit" name="submit" value="Save changes" form="addForm" class="btn btn-primary">
				</div>
			</div>
		</div>
	</div> 
	<!-- Edit Modal -->
		<div class="modal fade" id="editModal7">
		<div class="modal-dialog modal-xl modal-dialog-scrollable">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Edit Teaching Philosophy <strong class="exceedLimit"></strong></h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form action="http://localhost/grantize/public/researcher/profile/store_profile_info" method="post" enctype="multipart/form-data" id="editForm7">
						<input type="hidden" name="_token" value="0QLLWGDpQKt4igjK6vIXRqmvOh5OYcIOZQnIxQbT" autocomplete="off">						<div class="row">
							<div class="col-12">
								<div class="mb-3">
									<label for="description" class="form-label">Content</label>
									<textarea name="description" id="description_ck7" rows="3" cols="100" class="form-control ckeditor"><h1>Teaching Philosophy crop</h1></textarea>

									<div class="input-group input-group-sm">
	<span class="input-group-text">Keywords</span>
    	<select name="keyword_description[]" id="keyword_description_ck7" class="form-select" multiple="multiple">
		<option value="1" selected="selected">crop</option>	</select>	
	</div> 






								</div>
							</div>
						</div>	
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					<input type="hidden" name="id" value="7" form="editForm7" >
					<input type="hidden" name="table_name" value="user_teaching_philosophy" form="editForm7" >
					<input type="hidden" name="redirect" value="my_teaching_philosophy" form="editForm7" >
					<input type="submit" name="submit" value="Save changes" form="editForm7" class="btn btn-primary">
				</div>
			</div>
		</div>
	</div>
	<!-- Bootstrap CSS -->
<script src="http://localhost/grantize/public/assets/thirdparty/bootstrap/popper.min.js"></script>
<script src="http://localhost/grantize/public/assets/thirdparty/bootstrap/bootstrap.min.js"></script>
<!-- Bootstrap datepicker -->
<script src="http://localhost/grantize/public/assets/thirdparty/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
<!-- Bootstrap dataTables -->
<!-- <script src="/assets/thirdparty/jquery-dataTables/jquery.dataTables.min.js"></script>
<script src="/assets/thirdparty/jquery-dataTables/dataTables.bootstrap5.min.js"></script> -->

<!-- ckeditor -->
<!-- <script src="https://cdn.ckeditor.com/ckeditor5/39.0.2/classic/ckeditor.js"></script> -->
<script src="https://cdn.ckeditor.com/4.22.1/standard/ckeditor.js"></script>
<!-- Select2 -->
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.full.min.js"></script>
<!-- Jquery validation -->
<script src="http://localhost/grantize/public/assets/thirdparty/jquery/jquery.validate.min.js"></script>
<!-- Slick slider -->
<script src="http://localhost/grantize/public/assets/thirdparty/slick/slick.js" type="text/javascript" charset="utf-8"></script>

<!-- Template Main JS File -->
<script src="http://localhost/grantize/public/assets/js/main.js"></script>
<script type="text/javascript">

	$.ajaxSetup({
		headers: {
			'X-CSRF-TOKEN': $('meta[name="_token"]').attr('content')
		}
	});

</script>



	<script type="text/javascript">

	$(document).ready(function(){

		$('.profile-section-info-full').hide();
		$('.info-full').click(function(){
			var key = $(this).attr('data-key'); 
			$('.profile-section-info-full-'+key).show();
			$('.profile-section-info-limited-'+key).hide();
		});
		$('.info-limited').click(function(){
			var key = $(this).attr('data-key'); 
			$('.profile-section-info-full-'+key).hide();
			$('.profile-section-info-limited-'+key).show();
		});

	});
    
</script>


	<script type="text/javascript">

	$(document).ready(function(){
		
		var editor = CKEDITOR.replace('description_ck');
		CKEDITOR.instances["description_ck"].on("change", function(e) {
			var description = e.editor.getData();
			var $select = $('#keyword_description_ck');

			$.ajax({
				type:"POST",
				url:"http://localhost/grantize/public/description_keywords",
				data: {
					_token: '0QLLWGDpQKt4igjK6vIXRqmvOh5OYcIOZQnIxQbT',
					description: description
				},
				success:function(data){
					data = JSON.parse(data);
					$select.find('option').remove();
					$select.append('<option value="">Select..</option>');
					$.each(data, function(i, item) {
						$select.append('<option value="' + item.id + '" selected="selected" >' + item.name + '</option>');
					})
				}
			});
		});

		$('#keyword_description_ck').select2({
			dropdownParent: $("#addModal"),
			placeholder: 'Keywords',
			theme: 'bootstrap-5',
			tags: true,
			tokenSeparators: [","],
			createTag: function (tag) {
				return {
					id: tag.term,
					text: tag.term,
					// add indicator:
					isNew : true
				};
			},

			ajax: {
				type: "POST",
				url:"http://localhost/grantize/public/search_dropdown_global",
				delay: 250,
				dataType: 'json',
				data: function (params) {
					return {
						search: params.term, // search term
						"_token": "0QLLWGDpQKt4igjK6vIXRqmvOh5OYcIOZQnIxQbT",
						table: 'keywords',
						field: 'name',
					};
				},
				processResults: function (data, params) {
					return {
						results: $.map(data, function (item){
							return {
								id: item.id,
								text: item.name,
							}
						})
					};
				},
				cache: true
			}
		}).on("select2:select", function(e) {
			//alert('id -> ' + e.params.data.id)
			if(e.params.data.isNew){
				$.ajax({
					type:"POST",
					url:"http://localhost/grantize/public/new_creation_by_user",
					data: {
						_token: '0QLLWGDpQKt4igjK6vIXRqmvOh5OYcIOZQnIxQbT',
						table: 'keywords', 
						field: 'name',
						field_value: e.params.data.id,
						field_category: 'category',
						field_category_value: '1',  
					},
					success:function(data){
						data = JSON.parse(data);
						var last_id = data[0]; //alert('ajax '+ last_id);
						$('#keyword_description_ck').find('[value="'+e.params.data.id+'"]').replaceWith('<option selected value="' + last_id + '">' + e.params.data.id + '</option>');
					}
				});
			}
		});


		
		var editor = CKEDITOR.replace('description_ck7');
		CKEDITOR.instances["description_ck7"].on("change", function(e) {
			var description_ck7 = e.editor.getData(); 
			var $select = $('#keyword_description_ck7');

			$.ajax({
				type:"POST",
				url:"http://localhost/grantize/public/description_keywords",
				data: {
					_token: '0QLLWGDpQKt4igjK6vIXRqmvOh5OYcIOZQnIxQbT',
					description: description_ck7				},
				success:function(data){
					data = JSON.parse(data);
					$select.find('option').remove();
					$select.append('<option value="">Select..</option>');
					$.each(data, function(i, item) {
						$select.append('<option value="' + item.id + '" selected="selected" >' + item.name + '</option>');
					})
				}
			});
		});

		$('#keyword_description_ck7').select2({
			dropdownParent: $("#editModal7"),
			placeholder: 'Keywords',
			theme: 'bootstrap-5',
			tags: true,
			tokenSeparators: [","],
			createTag: function (tag) {
				return {
					id: tag.term,
					text: tag.term,
					// add indicator:
					isNew : true
				};
			},

			ajax: {
				type: "POST",
				url:"http://localhost/grantize/public/search_dropdown_global",
				delay: 250,
				dataType: 'json',
				data: function (params) {
					return {
						search: params.term, // search term
						"_token": "0QLLWGDpQKt4igjK6vIXRqmvOh5OYcIOZQnIxQbT",
						table: 'keywords',
						field: 'name',
					};
				},
				processResults: function (data, params) {
					return {
						results: $.map(data, function (item){
							return {
								id: item.id,
								text: item.name,
							}
						})
					};
				},
				cache: true
			}
		}).on("select2:select", function(e) {
			//alert('id -> ' + e.params.data.id)
			if(e.params.data.isNew){
				$.ajax({
					type:"POST",
					url:"http://localhost/grantize/public/new_creation_by_user",
					data: {
						_token: '0QLLWGDpQKt4igjK6vIXRqmvOh5OYcIOZQnIxQbT',
						table: 'keywords', 
						field: 'name',
						field_value: e.params.data.id,
						field_category: 'category',
						field_category_value: '1',  
					},
					success:function(data){
						data = JSON.parse(data);
						var last_id = data[0]; //alert('ajax '+ last_id);
						$('#keyword_description_ck7').find('[value="'+e.params.data.id+'"]').replaceWith('<option selected value="' + last_id + '">' + e.params.data.id + '</option>');
					}
				});

			}
		});

		
	});

</script>
	<!-- Delete Modal -->
<div class="modal fade" id="delete-modal">
	<div class="modal-dialog modal-sm" style="margin:200px auto;">
	<div class="modal-content" >

	<div class="modal-header" style="border:none;">
		<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>            
	</div>
	<div class="modal-body">
		<form action="http://localhost/grantize/public/researcher/profile/destroy_profile_info" method="post" enctype="multipart/form-data" id="addForm">
			<input type="hidden" name="_token" value="0QLLWGDpQKt4igjK6vIXRqmvOh5OYcIOZQnIxQbT" autocomplete="off">
			<h3 class="modal-title text-center">
				<strong>Are you sure you want to Delete this ?</strong>
			</h3>
			<br>
	
			<input type="hidden" name="id" id="delete-modal-id" required>
			<input type="hidden" name="table_name" value="user_teaching_philosophy" required>
			<input type="hidden" name="redirect" value="my_teaching_philosophy" required>
			<div class="row">             
				<div class="col-6">
					<button type="submit" name="submit" class="btn w-100 btn-success">Yes</button>
				</div>
				<div class="col-6">	
					<button type="button" class="btn w-100 btn-danger" data-bs-dismiss="modal">No</button>
				</div>
			</div>
		</form> 
	</div>
	<div class="modal-footer" style="border:none;height:1px;"> 
	</div>
	
	</div>        
	</div>      
</div>
<script type="text/javascript">
	//$(document).ready(function(){
		function deleteModal(id){
			$('#delete-modal-id').val(id);
			$(".modal").removeClass("fade").modal("hide");
			$("#delete-modal").modal("show").addClass("fade");
		}
	//});
</script>	<!-- Permission Modal -->
<div class="modal fade" id="permissionModal7">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
    <div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title" style="width:100%;">
				Set Permission for <span id="permission-title7"></span>
				<button type="button" class="btn-close float-end" data-bs-dismiss="modal" aria-label="Close"></button>
			</h5>
		</div>
		<div class="modal-body">
			<form action="http://localhost/grantize/public/researcher/profile/permission_profile_info" method="post" enctype="multipart/form-data" id="permissionForm7">	
                <input type="hidden" name="_token" value="0QLLWGDpQKt4igjK6vIXRqmvOh5OYcIOZQnIxQbT" autocomplete="off">				<div class="row"> 
                    <div class="col-lg-12 col-12"> 
                        <div id="permission7-successmsg-msg-div">
                        </div>
                    </div>
                </div> 
				
				<div class="row">
					<div class="col-8 mt-2 mb-3">
						<div class="form-check">
							<input class="form-check-input" type="checkbox" id="public7" name="public" value="0"  >
							<label class="form-check-label" for="public7"><b>Show only for me</b></label>
						</div>
						<div id="except_persons-select-7">
							<label class="">( Except Persons )</label>
							<div class="input-group">
								<select name="except_persons[]" id="except_persons7" class="form-select" multiple="multiple" style="width:100%;" >
																	</select>
							</div>
						</div>
					</div>
					<div class="col-4 mt-2 mb-3">
						<div class="form-check">
							<input class="form-check-input" type="checkbox" id="designation7" name="designation" value="0"  >
							<label class="form-check-label" for="designation7">
								<b>Hide from Designation</b>
							</label>
						</div>
						<div class="input-group" id="designations-select-7">
							<select name="designations[]" id="designations7" class="form-select" multiple="multiple" style="width:100%;" >
																	<option value="1" 
																		>Sponsors</option>
																	<option value="2" 
																		>Researchers</option>
															</select>
						</div>
					</div>

					<div class="col-12 mt-2 mb-3">
						<div class="form-check">
							<input class="form-check-input" type="checkbox" id="person7" name="person" value="0"  >
							<label class="form-check-label" for="person7">
								<b>Hide from Individuals</b>
							</label>
						</div>
						<div class="input-group" id="persons-select-7">
							<select name="persons[]" id="persons7" class="form-select" multiple="multiple" style="width:100%;" >
															</select>
						</div>
					</div>
				</div>
			</form>
		</div>
		<div class="modal-footer">
			<input type="hidden" name="id" id="permission-id7" form="permissionForm7" required>
			<input type="hidden" name="table_name" value="user_teaching_philosophy" form="permissionForm7" required>
			<input type="hidden" name="redirect" value="my_teaching_philosophy" form="permissionForm7" required>
			<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			<button type="submit" name="submit_permission" value="submit_permission" id="submit-permission-7" form="permissionForm7" class="btn btn-primary">Save changes</button>
		</div>
    </div>
    </div>
</div>
<script type="text/javascript">

	function permissionModal(id, name){
		$('#permission-id'+id).val(id); //alert(id);
		$('#permission-title'+id).text(name);
		$('#permissionModal'+id).modal('show');
	} 

	$(document).ready(function(){

		
			$("#except_persons-select-7").hide();
			$("#persons-select-7").hide();
			$("#designations-select-7").hide();

			if( $("#public7").is(":checked") ){
				$("#public7").val(1);
				$("#except_persons-select-7").show();
			}
			if( $("#person7").is(":checked") ){
				$("#person7").val(1);
				$("#persons-select-7").show();
			}
			if( $("#designation7").is(":checked") ){
				$("#designation7").val(1);
				$("#designations-select-7").show();
			}

			$("#public7").click(function(){
				if( $("#public7").is(":checked") ){
					$("#public7").val(1);
					$("#except_persons-select-7").show();
				}else{
					$("#public7").val(0);
					$("#except_persons-select-7").hide();
				}
			});
			$("#person7").click(function(){
				if( $("#person7").is(":checked") ){
					$("#person7").val(1);
					$("#persons-select-7").show();
				}else{
					$("#person7").val(0);
					$("#persons-select-7").hide();
				}
			});
			$("#designation7").click(function(){
				if( $("#designation7").is(":checked") ){
					$("#designation7").val(1);
					$("#designations-select-7").show();
				}else{
					$("#designation7").val(0);
					$("#designations-select-7").hide();
				}
			});
			
			$("#except_persons7").select2({
				dropdownParent: $("#permissionModal7"),
				theme: 'bootstrap-5',
				placeholder: 'Search Users',
				closeOnSelect: true,
				minimumInputLength: 3,

				ajax: {
					url:"http://localhost/grantize/public/search_dropdown_global",
					type: "POST",
					delay: 250,
					dataType: 'json',
					data: function (params) {
						return {
							search: params.term, // search term
							"_token": "0QLLWGDpQKt4igjK6vIXRqmvOh5OYcIOZQnIxQbT",
							table: 'users',
							field: 'first_name',
						};
					},
					processResults: function (data, params) {
						return {
							//results: data.items,
							results: data
						};
					},
					cache: true
				},

				escapeMarkup: function(m) {
					return m;
				},
				closeOnSelect: true,
				templateResult: formatResult,
				templateSelection: formatSelection

			}); 
			$("#persons7").select2({
				dropdownParent: $("#permissionModal7"),
				theme: 'bootstrap-5',
				placeholder: 'Search Users',
				minimumInputLength: 3,

				ajax: {
					url:"http://localhost/grantize/public/search_dropdown_global",
					type: "POST",
					delay: 250,
					dataType: 'json',
					data: function (params) {
					return {
						search: params.term, // search term
						"_token": "0QLLWGDpQKt4igjK6vIXRqmvOh5OYcIOZQnIxQbT",
						table: 'users',
						field: 'first_name',
					};
					},
					processResults: function (data, params) {
						return {
							results: data
						};
					},
					cache: true
				},

				escapeMarkup: function(m) {
					return m;
				},
				closeOnSelect: true,
				templateResult: formatResult,
				templateSelection: formatSelection

			}); 
			$("#designations7").select2({
				dropdownParent: $("#permissionModal7"),
				theme: 'bootstrap-5',
			}); 

		
	});

</script>



 

<form action="http://localhost/grantize/public/researcher/grants" id="filterFormLogin" method="post">
  <input type="hidden" name="_token" value="0QLLWGDpQKt4igjK6vIXRqmvOh5OYcIOZQnIxQbT" autocomplete="off">  <input type="hidden" id="grants_status_login" name="grants_status">
</form>
<script type="text/javascript">

  //Advance Filter
  $(document).ready(function(){  
      $(".grants_status_login").click(function(){  
          var grants_status = $(this).attr('data-value'); 
          $('#grants_status_login').val(grants_status);
          $("#filterFormLogin").submit();
      });
  });

</script>
<script type="text/javascript">

  //$(document).ready(function(){
  function formatResult(item) {
      if (!item.id) {
          return item.text; 
      }
      //console.log(item);
      var dp = item.dp;
      var dp_src = 'http://localhost/sisterlab/public/assets/users/dp_default.png';
      if(item.dp!=null){
          dp_src = 'http://localhost/sisterlab/public/assets/users/dp/'+ item.dp;
      }
      var full_name = item.first_name;
      var organization_name = item.organization.name;
      var location = '';
      if(item.city != null){
          location = item.city.name +' '+ item.state.name +' '+ item.country.name;
      }else if(item.state != null){
          location = item.state.name +' '+ item.country.name;
      }else if(item.country != null){
          location = item.country.name;
      }else{
          location = '';
      }

      var $item = $('<div class="formatResultUser">'+
          '<img src="'+ dp_src +'" alt="'+ dp +'"/>'+
          '<div class="textdiv">'+
              '<span class="full_name">' + full_name + ' <span class="location">' + location + '</span></span>'+
              '<span class="organization">' + organization_name + '</span>'+
          '</div>'+
      '</div>');

      return $item;
  }
  function formatSelection(item) {
      if (!item.id) {
          return item.text; 
      }
      if (item.selected) {
          var dp = item.element.getAttribute('data-dp');
          var dp_src = 'http://localhost/sisterlab/public/assets/users/dp_default.png';
          if(dp!=''){
              dp_src = 'http://localhost/sisterlab/public/assets/users/dp/'+ dp;
          }
          var full_name = item.element.getAttribute('data-name');
          var location = item.element.getAttribute('data-country_name');
          var organization_name = item.element.getAttribute('data-organization_name');  
      }
      else{
          var dp = item.dp;
          var dp_src = 'http://localhost/sisterlab/public/assets/users/dp_default.png';
          if(item.dp!=null){
              dp_src = 'http://localhost/sisterlab/public/assets/users/dp/'+ item.dp;
          }
          var full_name = item.first_name;
          var organization_name = item.organization.name;
          var location = '';
          if(item.city != null){
              location = item.city.name +' '+ item.state.name +' '+ item.country.name;
          }else if(item.state != null){
              location = item.state.name +' '+ item.country.name;
          }else if(item.country != null){
              location = item.country.name;
          }else{
              location = '';
          }
      }

      var $item = $('<div class="formatResultUser">'+
              '<img src="'+ dp_src +'" alt="'+ dp +'"/>'+
              '<div class="textdiv">'+
                  '<span class="full_name">' + full_name + ' <span class="location">' + location + '</span></span>'+
                  '<span class="organization">' + organization_name + '</span>'+
              '</div>'+
          '</div>');

      return $item;
  }
  //});

</script>

<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<style>

	.section-movable {
		cursor: move;
		border: 1px solid #0a0d13;
	}

</style>
<script type="text/javascript">

	/* Profile Page Sections Reorder */
	$('#page-section-reorder').click(function(){
		$(".page-section-inner").toggleClass("section-movable");
		$(".page-section-outer").sortable({	
			update: function( event, ui ) {
				page_section_order();
			}
		});  
	});
	function page_section_order() {	
		var item_order = new Array();
		$('.page-section-outer .page-section-inner').each(function() {
			item_order.push($(this).attr("id"));
		});
		//var order_string = 'order='+item_order;
		//alert(item_order);
		$.ajax({
			type: "POST",
			url:"http://localhost/grantize/public/researcher/profile/reorder_profile_info",
			data: {
				_token: '0QLLWGDpQKt4igjK6vIXRqmvOh5OYcIOZQnIxQbT',
				section_order: item_order
			},
			cache: false,
			success:function(data){
				//console.log(data);
			}
		});  
	} 

</script>


<script type="text/javascript">

	$(document).ready(function(){

		$('#addForm').validate({
			rules: {                         
				description:{
					required: true,       
				},
			},
			messages: {                   
			},            
			errorPlacement: function(error, element) {
				if(element.parent('.input-group').length) {
					error.insertAfter(element.parent());
				} else {
					error.insertAfter(element);
				}
			},
		}); 

					
			$('#editForm7').validate({
				rules: {                         
					description:{
						required: true,       
					},
				},
				messages: {                  
				},            
				errorPlacement: function(error, element) {
					if(element.parent('.input-group').length) {
						error.insertAfter(element.parent());
					} else {
						error.insertAfter(element);
					}
				},
			}); 
			 
		 

	});

</script>


</body>
</html>